.cards{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.pokecards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.loading{
    color: white;
}